.control-select {
  width: 100%;
  padding: 8px 12px;
  padding-right: 36px;
  font-size: 14px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #fff;
  color: #212529;
  outline: none;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23212529' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.control-select:focus {
  border-color: #339af0;
  box-shadow: 0 0 0 1px #339af0;
}


